services:
  react-dev:
    container_name: react-dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ../:/workspace:cached
    working_dir: /workspace
    command: sleep infinity
